@charset "utf-8";

main{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 3.8vw;
}

h1{
    font-size: 2em;
    padding: 0.5em;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    font-family: "Kosugi Maru";
    border-left: solid 5px #ea6e00;
    background-color: #fadab3;
}

h2{
    font-size: 1.3em;
    line-height: 1.8em;
}

h2 span{
    background-color: #fc8720;
    background: linear-gradient(transparent 60%, #fc8720 45%);
}

.Character p{
    color: rgb(67, 67, 67);
    font-size:large;
    margin: 0 auto;
    padding: 5px;
}

main a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: inherit;
    transition: .3s;
}

main p{
    margin: 30px 0 10px 0;
    padding: 10px 30px;
}

.link-button{
    background-color: orange;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.link-button:hover{
    box-shadow: none;
}

/*-----ここからPCモニターの記述-----*/
@media screen and (min-width: 840px) {

main{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 30px;
}

main a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: inherit;
    transition: .3s;
}
main a::after{
    position: absolute;
    right: 100%;
    bottom: 0;
    content: "";
    width: 0;
    height: 5px;
    background-color: rgb(255, 139, 62);
    transition: .3s;
    transform: translateX(100%);
}
main a:hover::after{
    width: 100%;
}

}