@charset "utf-8";

html{
    scroll-behavior: smooth;
}

main{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 3.8vw;
}

h1{
    font-size: min(140%, 50px);
    padding: 0.5em;
    margin: 25px;
    border-left: solid 5px #ea6e00;
    background-color: #fadab3;
}

h2{
    width: 30%;
    margin: auto;
    font-size: min(120%, 40px);
    border-bottom: solid 3px rgb(255, 200, 99);
}

.page-contents{
    text-align: left;
    padding-left: 5%;
}

.page-contents a{
    transition: all 0.3s 0.3s ease-in-out;
}

.page-contents li{
    padding: 10px 0 0 0;
}

.page-contents li ol li{
    padding: 0 0 0 0;
}

ol{
    list-style: none;
}

.mokuji-blank{
    height: 25px;
}

main a{
    position: relative;
    color: rgb(81, 135, 252);
    display: inline-block;
    transition: .3s;
}

main p{
    margin: 30px 0 0 0;
    padding: 10px 30px;
}

/* pop up */

/* pop up common */
.open {
	cursor:pointer;
}
.exhibition-description h5{
    font-size: large;
    padding: 10px;
}
.exhibition-description p{
    margin: 0 auto;
    padding: 5px;
}
.row img{
    border-radius: 15px;
}
/* pop up common */

#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height: 60%;
	background-color: #fff;
    box-shadow: rgb(46, 46, 46);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window img{
    width: 50%;
}
.close {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up2 {
	display: none;
}
.overlay2 {
	display: none;
}
#pop-up2:checked + .overlay2 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
    background: rgba(49, 49, 49, 0.6);
}
.window2 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height: 60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window2 img{
    width: 50%;
}
.close2 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up3 {
	display: none;
}
.overlay3 {
	display: none;
}
#pop-up3:checked + .overlay3 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window3 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window3 img{
    width: 50%;
}
.close3 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up4 {
	display: none;
}
.overlay4 {
	display: none;
}
#pop-up4:checked + .overlay4 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window4 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window4 img{
    width: 50%;
}
.close4 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up5 {
	display: none;
}
.overlay5 {
	display: none;
}
#pop-up5:checked + .overlay5 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window5 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window5 img{
    width: 50%;
}
.close5 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up6 {
	display: none;
}
.overlay6 {
	display: none;
}
#pop-up6:checked + .overlay6 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window6 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window6 img{
    width: 50%;
}
.close6 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up7 {
	display: none;
}
.overlay7 {
	display: none;
}
#pop-up7:checked + .overlay7 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window7 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window7 img{
    width: 50%;
}
.close7 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up8 {
	display: none;
}
.overlay8 {
	display: none;
}
#pop-up8:checked + .overlay8 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window8 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window8 img{
    width: 50%;
}
.close8 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up9 {
	display: none;
}
.overlay9 {
	display: none;
}
#pop-up9:checked + .overlay9 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window9 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window9 img{
    width: 50%;
}
.close9 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up10 {
	display: none;
}
.overlay10 {
	display: none;
}
#pop-up10:checked + .overlay10 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window10 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window10 img{
    width: 50%;
}
.close10 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up11 {
	display: none;
}
.overlay11 {
	display: none;
}
#pop-up11:checked + .overlay11 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window11 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window11 img{
    width: 50%;
}
.close11 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up12 {
	display: none;
}
.overlay12 {
	display: none;
}
#pop-up12:checked + .overlay12 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window12 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window12 img{
    width: 50%;
}
.close12 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up13 {
	display: none;
}
.overlay13 {
	display: none;
}
#pop-up13:checked + .overlay13 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window13 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window13 img{
    width: 50%;
}
.close13 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up14 {
	display: none;
}
.overlay14 {
	display: none;
}
#pop-up14:checked + .overlay14 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window14 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window14 img{
    width: 50%;
}
.close14 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up15 {
	display: none;
}
.overlay15 {
	display: none;
}
#pop-up15:checked + .overlay15 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window15 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window15 img{
    width: 50%;
}
.close15 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up16 {
	display: none;
}
.overlay16 {
	display: none;
}
#pop-up16:checked + .overlay16 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window16 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window16 img{
    width: 50%;
}
.close16 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up17 {
	display: none;
}
.overlay17 {
	display: none;
}
#pop-up17:checked + .overlay17 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window17 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window17 img{
    width: 50%;
}
.close17 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up18 {
	display: none;
}
.overlay18 {
	display: none;
}
#pop-up18:checked + .overlay18 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window18 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window18 img{
    width: 50%;
}
.close18 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up19 {
	display: none;
}
.overlay19 {
	display: none;
}
#pop-up19:checked + .overlay19 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window19 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window19 img{
    width: 50%;
}
.close19 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up20 {
	display: none;
}
.overlay20 {
	display: none;
}
#pop-up20:checked + .overlay20 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window20 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window20 img{
    width: 50%;
}
.close20 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up21 {
	display: none;
}
.overlay21 {
	display: none;
}
#pop-up21:checked + .overlay21 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window21 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window21 img{
    width: 50%;
}
.close21 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up22 {
	display: none;
}
.overlay22 {
	display: none;
}
#pop-up22:checked + .overlay22 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window22 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window22 img{
    width: 50%;
}
.close22 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up23 {
	display: none;
}
.overlay23 {
	display: none;
}
#pop-up23:checked + .overlay23 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window23 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window23 img{
    width: 50%;
}
.close23 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up24 {
	display: none;
}
.overlay24 {
	display: none;
}
#pop-up24:checked + .overlay24 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window24 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window24 img{
    width: 50%;
}
.close24 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up25 {
	display: none;
}
.overlay25 {
	display: none;
}
#pop-up25:checked + .overlay25 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window25 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window25 img{
    width: 50%;
}
.close25 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

#pop-up26 {
	display: none;
}
.overlay26 {
	display: none;
}
#pop-up26:checked + .overlay26 {
	display: block;
	position: fixed;
	height: 100vh;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(49, 49, 49, 0.6);
}
.window26 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 360px;
    padding: 20px;
	height:60%;
	background-color: #fff;
    border-color: rgb(255, 205, 113);
    border: 5px;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.window26 img{
    width: 50%;
}
.close26 {
	position: absolute;
    font-size: larger;
	top: 20px;
	right: 20px;
	cursor:pointer;
    color: rgb(81, 135, 252);
}

/*-----ここからPCモニターの記述-----*/
@media screen and (min-width: 840px) {

main a{
    position: relative;
    display: inline-block;
    transition: .3s;
}
main a::after{
    position: absolute;
    right: 100%;
    bottom: 0;
    content: "";
    width: 0;
    height: 5px;
    background-color: rgb(255, 139, 62);
    transition: .3s;
    transform: translateX(100%);
}
main a:hover::after{
    width: 100%;
}

.row{
    display: flex;
    height: max(100%, 100px);
}
.class-area{
    height: max(100%, 100px);
}
.class-area p{
    margin: 0 auto; 
    height: 100px;
}

}