@charset "UTF-8";

/* title & enroll-button */
.title_enroll{
    width: 100%;
}
h1{
    padding: 0.5em;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    font-family: "Kosugi Maru";
    border-left: solid 5px #ea6e00;
    background-color: #fadab3;
}
#blank1{
    margin: 0 0 0 auto;
}
.enroll-button{
    margin: 25px 25px;
    text-align: center;
    font-size: 30px;
    background-color: #f4ac00;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.enroll-button a{
    color: inherit;
    text-decoration: none;
}

/* slider of slick */
.slider-1{
    z-index: 0;
}
.slider-1 .slick-slide{
    width: 100vw;
    height: auto;
    margin: 0 40px;
    position: relative;
    overflow: hidden;
}
.slider-1 .slick-slide img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.dots-1 .slick-dots{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.dots-1 .slick-dots li{
    display: inline-block;
    width: 40px;
}
.dots-1 .slick-dots button{
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    
    border-radius: 50%;
}
.slick-dots button::before{
    font-size: 50px!important;
}
.description{
    text-align: center;
    padding-top: 50px;
    font-family: "Kosugi Maru";
    font-size: larger;
}
#description-blank{
    height: 10px;
}
    
/*-----ここからPCモニターの記述-----*/
@media screen and (min-width: 840px) {

.title_enroll{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90px;
}
h1{
    padding: 0.3em;
    text-align: left;
    margin-top: 30px;
    border-left: solid 5px #ea6e00;
    background-color: #fadab3;
}
#blank1{
    margin: 0 0 0 auto;
}
.enroll-button{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
.enroll-button:hover{
    background-color: #eba502;
    box-shadow: none;
}
.dots-1{
    height: 0;
}
.dots-1 .slick-dots{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.slider-1{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.slick-dotted .slick-slider{
    margin-bottom: 0;
}
.slider-1 .slick-slide{
    width: 80vw;
    height: auto;
    margin: 0 40px;
    position: relative;
    overflow: hidden;
}

}